<style>
    .shop-now-button{
      display: inline-block;
      padding: 15px 45px;
      background-color: white;
      color: black;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700; 
      cursor: pointer;
      width: 180px;
      height: 50px;
    }
</style>

<a href="/collections/all" class="shop-now-button">SHOP NOW</a>