
<style>
    .email-subcription {
        background-image: url("{{section.settings.background_image |  image_url: width: 1380 }}" ); 
        background-size: cover; 
        display: flex; 
        justify-content: center; 

    }

    .email-subcription .content-part {
        height: 265px; 
        color: white; 
        display: grid; 
        grid-template-columns: 30% auto; 
        gap: 100px; 
        width: 100%; 
        max-width: 1200px; 
    }

    .email-subcription .text-part, .input-part{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }

    .input-part{
        /* height: 85px; 
        border: 1px solid white;  */
        position: relative; 
        font-family: Montserrat, "Helvetica Neue"; 
        font-size: 16px; 
        
    }

    .input-part .input-text{
        
        width: 100%; 
        height: 85px; 
        border: 1px solid #fff; 
        background-color: rgba(1, 1, 1, 0 );
        position: absolute; 
        text-decoration: none; 
        padding-left: 30px; 
        padding-right: 140px; 
        outline: none; 
        box-shadow: none;
        font-family: Montserrat, "Helvetica Neue"; 
        font-size: 16px; 
    }

    .input-part .input-text::placeholder{
        color: white; 
    }

    .input-part .subcribe-button{
        position: absolute; 
        right: 30px; 
        background-color: transparent; 
        border: 0; 
        font-family: Montserrat, "Helvetica Neue"; 
        font-size: 16px; 
        font-weight: 600; 
        cursor: pointer; 

    }

    .text-part .big-text, .small-text{
        margin: 0 0 10px 0; 
    }

    .text-part .small-text{
        font-family: Montserrat, "Helvetica Neue"; 
        font-size: 14px; 
    }

    .text-part .big-text{
        font-family: "Playfair Display"; 
        font-size: 36px; 
        color: white; 
        font-weight: 700;
    }

    @media (max-width: 1280px){
        .email-subcription{
            padding: 0 50px; 
        }
    }

    @media (max-width: 1024px){
        .email-subcription{
            padding: 0 20px; 
        }
    }

    @media (max-width: 768px ){
        .email-subcription .content-part{
            display: flex;
            flex-direction: column;  
            justify-content: center; 
            height: 350px; 
            /* padding-top: 60px ;  */
        }

        .email-subcription .input-part .input-text, .subcribe-button{
            transform: translateY(-50px); 
        }
    }




</style>

<div class="email-subcription">
    <div class="content-part">
        <div class="text-part">
            <h2 class="big-text" >{{section.settings.large_text}}</h2>
            <p class="small-text">{{section.settings.small_text}}</p>
        </div>
        <div class="input-part">
            <input type="email" class="input-text" placeholder="Enter your email address..." style="color: white">
            <button class="subcribe-button" style="color: white">SUBSCRIBE</button>
        </div>
    </div>

</div>

{% schema %}
{
    "name": "Email subcription",
    "settings": [
        {
            "type": "image_picker", 
            "id": "background_image",
            "label": "Background image"
        },
        {
            "type": "text", 
            "id": "large_text", 
            "label": "Large text",
            "default": "Join Our Newsletter"
        },
        {
            "type": "text", 
            "id": "small_text", 
            "label": "Small text",
            "default" : "Get off 20% for your next purchase!"
        }
    ], 
    "presets": [
        {
            "name": "Email subcripttion"
        }
    ]
}
{% endschema %}